@mixin input-element {
    input {
        color: lightslategrey;
        padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid #898600;
        background-color: transparent;
        transition: 0.1s ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1px solid #FFD23F
        }
    }
}